@import "tailwindcss";

:root {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: #8d86c9;
  background-color: #202c39;
}

html.overlay-transparent {
  height: unset !important;
  background-color: transparent;
}

html.overlay-transparent #dvd-container {
  display: none;
}

html.overlay-transparent .h-full {
  height: unset;
}

html,
body,
#root {
  height: 100%;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
